<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyA1u2rBQutZEI1xA54vE2BmESJwbYNq8f4</string>
	<key>GCM_SENDER_ID</key>
	<string>988790983874</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.rizkydev.firestoreDemo</string>
	<key>PROJECT_ID</key>
	<string>crud-1a994</string>
	<key>STORAGE_BUCKET</key>
	<string>crud-1a994.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:988790983874:ios:0625350889b5d801a23f5b</string>
</dict>
</plist>
